<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include 'parts/_style.html' %}
</head>

<body>
{% include 'parts/_spinner.html' %}
{% include 'parts/_navbar.html' %}
{% include 'parts/_search.html' %}

{% if messages %}
<div class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050; width: 50%;">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show text-center"
         role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block main %}
{% endblock main %}


{% include 'parts/_footer.html' %}
{% include 'parts/_js.html' %}
<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
        class="fa fa-arrow-up"></i></a>

</body>
</html>