{% load static i18n custom_tags %}

<!-- Navbar start -->

<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i>
                    <a href="#" class="text-white">Kuvasoy ko'chasi, Farg'ona</a>
                </small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i>
                    <a href="#" class="text-white">info@fruitables.uz</a>
                </small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">{% trans 'Maxfiylik siyosati' %}</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">{% trans 'Foydalanish shartlari' %}</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">{% trans 'Sotish va pulni qaytarish' %}</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="{% url 'home' %}" class="navbar-brand"><h1 class="text-primary display-6">Fruitables</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">{% trans 'Bosh sahifa' %}</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans "Bo'limlar" %}</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            {% all_departament as departments %}
                            {% if departments %}
                            {% for department in departments %}
                            <a href="{% url 'department' department.slug %}" class="dropdown-item">{{ department.name }}</a>
                            {% endfor %}
                            {% else %}
                            <a href="" class="dropdown-item">Bo'limlar topilmadi.</a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">{% trans "Bog'lanish" %}</a>
                </div>
                <div class="d-flex m-3 me-0">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fas fa-globe"></i> {% trans 'Til' %}
                    </a>
                    <div class="dropdown-menu m-0 bg-secondary rounded-0">
                        <form id="language-form" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="language" id="language-input">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                                <a href="#" class="dropdown-item language-link" data-lang="{{ lang.0 }}">
                                    {{ lang.1 }}
                                </a>
                            {% endfor %}
                        </form>
                    </div>
                </div>

                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="fas fa-search text-primary"></i></button>
                    <a href="{% url 'cart' %}" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                              style="top: -5px; left: 15px; height: 20px; min-width: 20px;">{% cart_item_count request %}</span>
                    </a>
                    <a href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Navbar End -->
